<template>
  <div class="text-center">
    <v-menu
      v-model="actions"
      down
      offset-y
    >
      <template #activator="{ on }">
        <v-btn
          icon
          color="accent"
          dark
          v-on="on"
        >
          <v-icon>mdi-menu</v-icon>
        </v-btn>
      </template>
      <v-list dense>
        <v-list-item v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable !== undefined ? permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable : false) && domId === 'tramDataOutcome'" @click="itemReturn()">
          <v-list-item-icon><v-icon>mdi-file-undo</v-icon></v-list-item-icon>
          <v-list-item-title>Devolver</v-list-item-title>
        </v-list-item>
        <v-list-item v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].file.enable !== undefined ? permisos[$route.params.PryUuid][$route.params.TrnUuid].file.enable : false)" @click="itemSee()">
          <v-list-item-icon><v-icon>mdi-file-eye</v-icon></v-list-item-icon>
          <v-list-item-title>Ver</v-list-item-title>
        </v-list-item>
        <v-list-item v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].modify.enable !== undefined ? permisos[$route.params.PryUuid][$route.params.TrnUuid].modify.enable : false) && domId === 'tramDataIncome'" @click="itemModify()">
          <v-list-item-icon><v-icon>mdi-file-edit</v-icon></v-list-item-icon>
          <v-list-item-title>Editar</v-list-item-title>
        </v-list-item>
        <v-list-item v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].hasOwnProperty('remove') !== false ? permisos[$route.params.PryUuid][$route.params.TrnUuid].remove.enable : false) && domId === 'tramDataIncome'" @click="itemRemove()">
          <v-list-item-icon><v-icon>mdi-file-remove</v-icon></v-list-item-icon>
          <v-list-item-title>Eliminar</v-list-item-title>
        </v-list-item>
        <v-list-item v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].hasOwnProperty('submit') !== false ? permisos[$route.params.PryUuid][$route.params.TrnUuid].submit.enable : false) && domId === 'tramDataIncome'" @click="itemDuplicate()">
          <v-list-item-icon><v-icon>mdi-file-multiple</v-icon></v-list-item-icon>
          <v-list-item-title>Duplicar</v-list-item-title>
        </v-list-item>
        <template v-for="(tran) in trans">
          <v-list-item
            :key="tran.Uuid"
            v-show="+ (permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable !== undefined ? permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable : false) && domId === 'tramDataIncome'"
            @click="itemSend(tran.Uuid)"
          >
            <v-list-item-icon><v-icon>mdi-file-move</v-icon></v-list-item-icon>
            <v-list-item-title>{{ "Enviar a " + tran.Ordinal + ". " + tran.Titulo }}</v-list-item-title>
          </v-list-item>
        </template>
        <v-list-item
          v-show="trans === undefined && + (permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable !== undefined ? permisos[$route.params.PryUuid][$route.params.TrnUuid].workflow.enable : false) && domId === 'tramDataIncome'"
          @click="itemTerminate(entity.Uuid)"
        >
          <v-list-item-icon><v-icon>mdi-file-check</v-icon></v-list-item-icon>
          <v-list-item-title>Concluir Trámite</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'BotonesWorkflow',
  props: {
    trans: Array,
    domId: String,
    entity: Object
  },
  data: () => ({
    actions: false
  }),
  computed: {
    permisos () {
      return JSON.parse('{"969bb601-6bb0-4add-a50f-0bf24ebfc09b": {"title": "Titulación", "e5cf42a9-51d5-45c1-b683-32ae198e485a": {"title": "1. Recepción de solicitudes", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "0"}, "areaRows": {"title": "Registros del Área", "enable": "1"}, "submit": {"title": "Crear", "enable": "1"}, "remove": {"title": "Eliminar", "enable": "1"}}, "28e93703-1539-4afc-a5d6-7fdc6dc320f2": {"title": "3. Elaborar Plano de Medidas y Colindancias", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "0"}, "areaRows": {"title": "Registros del Área", "enable": ""}}, "51821cb9-da8f-42cf-bb7a-3046bc7567c2": {"title": "2.1 Pago del Servicio de Titulación", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "0"}, "areaRows": {"title": "Registros del Área", "enable": ""}}, "bd298f81-77c5-4717-b677-ad68f635ccea": {"title": "4. Enviar Constancia a Catastro Municipal", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "0"}, "areaRows": {"title": "Registros del Área", "enable": ""}}, "1c5d36ab-7e4a-4b1f-ba28-22024af35055": {"title": "2.2 Exento por Convenio", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "0"}, "areaRows": {"title": "Registros del Área", "enable": ""}}}, "1ef6c6a1-ccd7-44fb-82b1-ac1822f67b2a": {"title": "Encuesta", "5e954ae1-4390-475c-bb37-556927befb76": {"title": "Familia", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}, "submit": {"title": "Crear", "enable": "1"}, "remove": {"title": "Eliminar", "enable": "1"}}, "b5a03d2e-9341-4712-9ec9-44494aeb9da6": {"title": "Características de la vivienda", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}, "terminate": {"title": "Concluir", "enable": "1"}}}, "eb2b69e1-5118-4c45-bc35-66327e30b6ad": {"title": "Material Subsidiado", "4b20e2d4-88bd-4010-bfce-0a2a671ebb8e": {"title": "1. Recepción de solicitudes", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}, "submit": {"title": "Crear", "enable": "1"}, "remove": {"title": "Eliminar", "enable": "1"}}, "bfc5e2e6-7c98-4afa-a7df-ef75162a367a": {"title": "2. Pago de Materiales Subsidiados", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}}, "83f0a18b-1b33-451a-9115-1175182d904b": {"title": "3. Integración del Pedido", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}}, "d3522743-697e-4812-bd93-800afe91d442": {"title": "4. Entrega de Material", "modify": {"title": "Modificar", "enable": "1"}, "file": {"title": "Ver", "enable": "1"}, "workflow": {"title": "Enviar/Devolver", "enable": "1"}, "headers": {"title": "Tablas", "enable": "1"}, "table": {"title": "Entrada", "enable": "1"}, "sentTable": {"title": "Enviados", "enable": "1"}, "ownRows": {"title": "Registros Propios", "enable": "1"}, "areaRows": {"title": "Registros del Área", "enable": ""}, "terminate": {"title": "Concluir", "enable": "1"}}}}')
    }
  },
  methods: {
    itemReturn () {
      if (this.entity !== null) { this.$root.$emit(this.domId + 'Return', { item: this.entity }) }
    },
    itemSee (uuid) {
      if (this.entity !== null) { this.$root.$emit('itemSee', { Uuid: this.entity.Uuid }) }
    },
    itemPause () {
      if (this.entity !== null) { this.$root.$emit(this.domId + 'Pause', this.entity) }
    },
    itemSend (uuid) {
      if (this.entity !== null) {
        this.actions = !this.actions
        this.$root.$emit(this.domId + 'Send', { item: this.entity, trans: uuid })
      }
    },
    itemTerminate (uuid) {
      this.$swal({
        title: 'Concluir ',
        text: '¿Estás seguro? ¡No podrás revertir ésta acción!',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: 'accent',
        cancelButtonColor: 'primary',
        confirmButtonText: 'Concluir',
        cancelButtonText: 'Cancelar'
      })
        .then((result) => {
          if (result.value) {
            if (this.entity !== null) {
              this.actions = !this.actions
              this.$root.$emit(this.domId + 'Terminate', { item: this.entity })
            }
          }
        })
    },
    itemModify () {
      if (this.entity !== null) { this.$root.$emit(this.domId + 'Modify', this.entity) }
    },
    itemRemove () {
      this.$swal({
        title: 'Eliminar Elemento',
        text: '¿Estás seguro? ¡No podrás revertir ésta acción!',
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: 'accent',
        cancelButtonColor: 'primary',
        confirmButtonText: 'Eliminar',
        cancelButtonText: 'Cancelar'
      })
        .then((result) => {
          if (result.value) {
            if (this.entity !== null) {
              this.$root.$emit(this.domId + 'Remove', this.entity.Uuid)
            }
          }
        })
    },
    itemDuplicate () {
      if (this.entity !== null) {
        // eslint-disable-next-line vue/no-mutating-props
        this.entity.Uuid = ''
        this.$root.$emit(this.domId + 'Duplicate', this.entity)
      }
    }
  }
}
</script>

<style scoped>

</style>
