<template>
  <div>
    <v-label>
      {{ data.etiqueta }}
    </v-label>
    <figure class="figure">
      <img :src="photo" class="embed-responsive">
    </figure>
    <v-btn
      @click="show()"
    >
      Iniciar cámara
    </v-btn>
    <v-dialog v-model="active" persistent width="700px">
      <v-card>
        <v-card-title class="secondary py-0">
          <v-row>
            <v-col cols="7">
              <span>
                {{ data.etiqueta }}
              </span>
            </v-col>
            <v-col class="text-right">
              <v-btn icon color="gray" @click="close">
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <div>
            <div class="row">
              <div class="col-sm-7">
                <select v-model="camera">
                  <option>-- Elija el medio --</option>
                  <option
                    v-for="device in devices"
                    :key="device.deviceId"
                    :value="device.deviceId"
                  >
                    {{ device.label }}
                  </option>
                </select>
              </div>
              <div class="col-sm-5 justify-content-md-end">
                <v-btn
                  class="text-right"
                  color="accent"
                  @click="onCapture"
                >
                  Capturar
                </v-btn>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="border">
                  <vue-web-cam
                    ref="webcam"
                    :device-id="deviceId"
                    width="100%"
                    @error="onError"
                    @cameras="onCameras"
                    @camera-change="onCameraChange"
                    @canplay="onStart"
                  />
                </div>
              </div>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import VueWebCam from '../global/webcam'
export default {
  name: 'CameraInput',
  components: { VueWebCam },
  props: {
    data: Object
  },
  data () {
    return {
      camera: null,
      deviceId: null,
      devices: [],
      active: false
    }
  },
  computed: {
    device () {
      return this.devices.find(n => n.deviceId === this.deviceId)
    },
    photo () {
      if (!this.data.value) { return '' }
      // console.log(this.data.value.substring(0, 5))
      return this.data.value.substring(0, 5) === 'data:' ? this.data.value : '/storage/data/' + this.data.value
    }
  },
  watch: {
    camera (id) {
      this.deviceId = id
    },
    devices () {
      // eslint-disable-next-line no-unused-vars
      const [first, ...tail] = this.devices
      if (first) {
        this.camera = first.deviceId
        this.deviceId = first.deviceId
      }
    }
  },
  methods: {
    onCapture () {
      this.data.value = this.$refs.webcam.capture()
      this.close()
    },
    onStop () {
      this.$refs.webcam.stop()
    },
    onStart () {
      this.$refs.webcam.start()
    },
    onError (error) {
      console.log('On Error Event', error)
    },
    onCameras (cameras) {
      this.devices = cameras
    },
    onCameraChange (deviceId) {
      this.deviceId = deviceId
      this.camera = deviceId
    },
    show () {
      if (this.devices === null) {
        this.alert('error', 'Conecte la camara')
        return
      }
      this.active = true
      setTimeout(() => this.onStart(), 1000)
    },
    alert (tipo, texto) {
      this.$root.$emit('alerta', { tipo, texto })
    },
    close () {
      this.onStop()
      this.active = !this.active
    }
  }
}
</script>

<style scoped>
  figure {
    height: auto;
    width: 100%;
    display: block;
  }
</style>
