<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="data.value"
        :value="data.value"
        :label="data.etiqueta"
        readonly
        v-bind="attrs"
        v-on="on"
      />
    </template>
    <v-date-picker v-model="data.value" :value="data.value" no-title @input="menu = false" />
  </v-menu>
</template>

<script>
export default {
  name: 'DateInput',
  props: {
    data: Object
  },
  data () {
    return {
      rules: [],
      menu: false
    }
  },
  methods: {
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
