<template>
  <v-text-field
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="data.etiqueta"
    :rules="rules"
    :dense="dense"
    :readonly="data.readOnly"
    :prefix="data.prefix"
    :mask="data.mask"
    type="number"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'Decimal',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      rules: [
        v => /^[0-9. ]*$/g.test(v) || 'Caracter no permitido'
      ]
    }
  },
  mounted () {
    this.required()
  },
  methods: {
    required () {
      if (this.data.requerido) {
        this.rules.push(v => !!v || 'Elemento requerido')
        if (this.data.etiqueta[this.data.etiqueta.length - 1] !== '*') { this.data.etiqueta += ' *' }
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
