<template>
  <v-text-field
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="data.etiqueta"
    :rules="rules"
    :counter="data.size"
    :dense="dense"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'Email',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      rules: [
        v => /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/g.test(v) || 'Email no permitido'
      ]
    }
  },
  mounted () {
    this.required()
    this.size()
  },
  methods: {
    required () {
      if (Boolean.valueOf(this.data.requerido)) {
        this.rules.push(v => !!v || 'Email requerido')
        // eslint-disable-next-line vue/no-mutating-props
        if (this.data.etiqueta[this.data.etiqueta.length - 1] !== '*') { this.data.etiqueta += ' *' }
      }
    },
    size () {
      if (this.data.size) {
        this.rules.push(v => v.length <= this.data.size || 'Solo ' + this.data.size + ' caracteres')
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
