<template>
  <v-file-input
    v-if="value === undefined"
    v-model="archivo"
    :value="archivo"
    :label="data.etiqueta"
    color="secondary"
    multiple
    prepend-icon=""
    @change="toBase64(archivo[0])"
  >
    <template v-slot:selection="{ index, text }">
      <v-chip
        color="accent"
        small
        label
      >
        {{ text }}
      </v-chip>
    </template>
  </v-file-input>
  <v-text-field v-else readonly :value="value">
    <v-icon slot="prepend">mdi-file</v-icon>
    <v-btn slot="append" icon
           @click="clean"
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-text-field>
</template>

<script>
export default {
  name: 'File',
  props: {
    data: Object
  },
  data () {
    return {
      archivo: undefined
    }
  },
  computed: {
    value () {
      if (this.data.value !== undefined)
        if (this.data.value !== '' && this.data.value.substring(0, 5) !== 'data:') {
          return this.data.value
        }
      return undefined
    }
  },
  methods: {
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    },
    clean(){
      this.data.value = ''
      this.archivo = undefined
    },
    base64 (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    },
    async toBase64 (file) {
      if (file === undefined) {
        return undefined
      }
      this.$emit('onLoading', true)
      const string64 = await this.base64(file).then((value) => {
        this.$emit('onLoading', false)
        return value
      })
      this.data.value = string64
      return string64
    }
  }
}
</script>

<style scoped>

</style>
