<template>
  <v-row>
    <v-col>
      <v-btn :color="data.type"
             :disabled="data.disabled"
             block
             class="mb-4"
             @click="onClick">
        {{ data.etiqueta }}
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'FormButton',

  props: {
    data: Object
  },
  methods: {
    onClick () {
      this.$root.$emit(this.data.name + 'OnClick')
    }
  }
}
</script>
