<template>
  <div>
    <v-label>
      {{ data.etiqueta }}
    </v-label>
    <v-textarea
      :id="'lat'"
      :name="'lat'"
      :label="'Latitud'"
      :value="lat"
      :rows="1"
      :dense="dense"
      @input="onChangeLat"
    />
    <v-textarea
      :id="'lng'"
      :name="'lng'"
      :label="'Longitud'"
      :value="lng"
      :rows="1"
      :dense="dense"
      @input="onChangeLng"
    />
    <v-btn
      @click="show"
    >
      Elegir en Mapa
    </v-btn>
    <v-dialog v-model="active" persistent width="700px">
      <v-card>
        <v-card-title class="secondary py-0">
          <v-row>
            <v-col cols="7">
              <span>
                Georeferencia
              </span>
            </v-col>
            <v-col class="text-right">
              <v-btn icon color="gray" @click="active = !active">
                <v-icon>mdi-window-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <div v-if="active" id="map-wrap" style="height: 500px">
            <client-only>
              <l-map ref="geo"
                     :zoom="18"
                     :center="[lat, lng]"
                     @ready="customEvents"
              >
                <l-marker ref="marker"
                          :lat-lng="[lat, lng]"
                />
                <l-tile-layer
                  url="https://mt0.google.com/vt/lyrs=y&hl=en&x={x}&y={y}&z={z}"
                />
              </l-map>
            </client-only>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'Georeferencia',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      active: false,
      lat: 24.025672,
      lng: -104.676447
    }
  },
  computed: {
    datavalue () {
      return this.data.value
    }
  },
  watch: {
    datavalue (val) {
      if (val !== undefined && val !== '') {
        const coords = !Array.isArray(val) ? val.split(',') : val
        this.lat = coords[0]
        this.lng = coords[1]
      } else {
        this.lat = 24.025672
        this.lng = -104.676447
      }
    }
  },
  methods: {
    show () {
      this.active = !this.active
      if (Array.isArray(this.data.value) && this.$refs.geo !== undefined) {
        this.$refs.geo.mapObject.setView(new this.$L.LatLng(this.data.value[0], this.data.value[1]), 20)
        this.$refs.marker.setLatLng([this.data.value[0], this.data.value[1]])
      } else if (this.data.value !== '' && this.data.value !== undefined && this.$refs.geo) {
        const coords = this.data.value.split(',')
        this.$refs.geo.mapObject.setView(new this.$L.LatLng(coords[0], coords[1]), 20)
        this.$refs.marker.setLatLng([coords[0], coords[1]])
      } else if (this.$refs.geo) {
        this.$refs.geo.mapObject.panTo(new this.$L.LatLng(this.lat, this.lng), 20)
      }
    },
    customEvents () {
      const map = this.$refs.geo.mapObject
      const marker = this.$refs.marker
      map.invalidateSize(true)
      map.on('move', () => {
        const center = map.getCenter()
        marker.setLatLng([center.lat, center.lng])
      })
      map.on('moveend', () => {
        const center = map.getCenter()
        this.lat = center.lat
        this.lng = center.lng
        if (this.active) { this.data.value = [this.lat, this.lng] }
        this.$root.$emit('onChangeGeoreferencia', center)
      })
      this.$refs.geo.mapObject.setView(new this.$L.LatLng(this.lat, this.lng), 20)
      marker.setLatLng([this.lat, this.lng])
    },
    onChangeLat (val, oldval) {
      if (val !== oldval) {
        this.lat = val
        this.data.value = [this.lat, this.lng]
      }
    },
    onChangeLng (val, oldval) {
      if (val !== oldval) {
        this.lng = val
        this.data.value = [this.lat, this.lng]
      }
    }
  }
}

</script>

<style scoped>

</style>
