<template>
  <v-simple-table
    :id="data.name"
    v-model="data.value"
    class="table"
    :name="data.name"
    :items="data.items"
    :label="label"
    :readonly="data.readOnly"
    :dense="dense"
  >
    <template v-slot:default>
      <thead>
        <tr>
          <template v-for="(header) in data.items">
            <th class="text-left">
              {{ header }}
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(row) in data.value">
          <td v-for="(cell) in row">{{ cell }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script>
export default {
  name: 'SimpleTable',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      label: this.data.etiqueta
    }
  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style scoped>
  table {
    width: 100%;
  }
</style>
