<template>
  <v-textarea
    :id="data.name"
    v-model="data.value"
    :disabled="data.disabled"
    :name="data.name"
    :label="data.etiqueta"
    :value="data.value"
    :rules="rules"
    :rows="1"
    :counter="data.size"
    auto-grow
    :dense="dense"
    @input="onChange"
  />
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    data: Object,
    dense: Boolean
  },
  data () {
    return {
      rules: []
    }
  },
  created () {
    this.required()
    this.size()
  },
  methods: {
    required () {
      if (Boolean.valueOf(this.data.requerido)) {
        this.rules.push(v => (v !== undefined && !!v) || 'Elemento requerido')
        if (this.data.etiqueta[this.data.etiqueta.length - 1] !== '*') { this.data.etiqueta += ' *' }
      }
    },
    size () {
      if (this.data.size) {
        this.rules.push(v => v.length <= this.data.size || 'Solo ' + this.data.size + ' caracteres')
      }
    },
    onChange () {
      this.$root.$emit('onChanged' + this.data.name, this.data.value)
    }
  }
}
</script>

<style scoped>

</style>
