<template>
  <v-card>
    <v-card-title>
      <slot name="top" />
      {{ title }}
      <v-spacer />
      <v-row>
        <v-text-field
          v-model="filtro"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
          @keyup.enter="onKeyUp"
        />
        <boton-x-l-s
          class="mt-3"
          :filtro="filtro"
          :elementos="elementos"
          :cabeceras="cabeceras"
          :title="title"
          :route="route"
        />
      </v-row>
    </v-card-title>
    <v-data-table
      :ref="title"
      :items="elementos"
      :headers="filteredCabeceras"
      :loading="cargando"
      :search="filtro"
      :options.sync="options"
      :show-expand="showExpand"
      :server-items-length="serverItems"
      :items-per-page="20"
      :footer-props="{'items-per-page-options': [20, 50, 100, 250]}"
      :expanded.sync="expanded"
      item-key="Seguimiento"
      loading-text="Cargando..."
      no-data-text="No hay elementos que mostrar"
      @current-items="cargandoElementos"
      @update:options="$root.$emit(domId + 'Options', { 'options': options})"
      @update:page="$root.$emit(domId + 'Options', { 'options': options})"
    >
      <template #progress>
        <v-progress-linear color="primary" indeterminate height="5" />
      </template>
      <template #item[actions]="{ item }">
        <botones-crud
          :entity="item"
          :dom-id="domId"
        />
      </template>
      <template v-for="(slot, index) in format" #[slot.nameSlot]="{ item }">
        <component
          :is="slot.typeComponent"
          v-if="Object.keys($options.components).includes(slot.typeComponent)"
          :key="index"
          :name="slot.nameCell"
          :value="{row: item, value: item[slot.nameCell]}"
        />
        <text-input
          v-else
          :key="index"
          :value="{row: item, value: item[slot.nameCell]}"
        />
      </template>
      <template
        v-if="$vuetify.breakpoint.xs && !cargando"
        #expanded-item="
          { header, item }"
      >
        <table>
          {{ header }}
          <tr v-for="(slot, index) in format.slice(4)" :key="index">
            <td>{{ cabeceras.slice(4)[index].text }}</td>
            <td class="align-rigth">
              <component
                :is="slot.typeComponent"
                v-if="Object.keys($options.components).includes(slot.typeComponent)"
                :key="index"
                :name="slot.nameCell"
                :value="{row: item, value: item[slot.nameCell]}"
              />
              <text-input
                v-else
                :key="index"
                :value="{row: item, value: item[slot.nameCell]}"
              />
            </td>
          </tr>
        </table>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import BotonesCrud from '../global/botonesCrud'
import BotonXLS from '../global/BotonXLS'
import Checkbox from './cell/checkbox'
import CameraInput from './cell/CameraInput'
import File from './cell/file'
import Money from './cell/money'
import TextInput from './cell/text-input'
import TextAlfa from './cell/text-alfa'
import TextAlfanum from './cell/text-alfanum'
import Integer from './cell/integer'
import Combo from './cell/combo'
import Decimal from './cell/decimal'
import Georeferencia from './cell/georeferencia'
export default {
  name: 'DataTable',
  components: {
    BotonesCrud,
    BotonXLS,
    Checkbox,
    Combo,
    Decimal,
    Integer,
    Georeferencia,
    TextInput,
    TextAlfa,
    TextAlfanum,
    CameraInput,
    File,
    Money
  },
  props: {
    title: String,
    elementos: Array,
    cabeceras: Array,
    format: Array,
    domId: String,
    agrupador: Boolean,
    trans: Array,
    seleccionado: Array,
    serverItems: {
      type: Number,
      default: -1
    },
    route: String
  },
  data () {
    return {
      filtro: '',
      cargando: false,
      expanded: [],
      filter: [],
      options: {},
      showExpand: false
    }
  },
  computed: {
    filteredCabeceras () {
      const headers = [...this.cabeceras].slice(0, 4)
      headers.push({ text: '', value: 'data-table-expand' })
      if (this.$vuetify.breakpoint.xs) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.showExpand = true
        return headers
      }
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      this.showExpand = false
      return this.cabeceras
    }
  },
  methods: {
    cargandoElementos () {
      this.cargando = true
      // eslint-disable-next-line no-return-assign
      setTimeout(() => this.cargando = false, 750)
    },
    onKeyUp () {
      if (this.cargando === false) {
        if (this.filtro && this.filtro.length > 2) {
          setTimeout(() => this.$root.$emit(this.domId + 'Options',
            { options: this.options, filtro: this.filtro }), 1500)
        }
      }
    }
  }
}
</script>

<style scoped>
  .align-rigth {
    text-align: right;
  }
</style>
