<template>
  <div>
    <v-list dense>
      <v-list-item v-if="$auth.loggedIn" :to="{name: 'Progreso', params: {nombre: padre}}">
        <v-list-item-content>
          <v-list-item-title>Progreso</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item v-if="$auth.loggedIn" :to="{name: 'Mapa'}">
        <v-list-item-content>
          <v-list-item-title>Mapa estratégico</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-group v-if="$auth.loggedIn ? $auth.user.can.editConf : false">
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>Configuración</v-list-item-title>
          </v-list-item-content>
        </template>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="$auth.loggedIn" to="/TipoNivel">
          <v-list-item-action>
            <v-icon>mdi-ballot-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Tipos de Niveles</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="$auth.loggedIn" to="/Adscripciones">
          <v-list-item-action>
            <v-icon>mdi-lan</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Áreas de Adscripción</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="$auth.loggedIn" to="/register">
          <v-list-item-action>
            <v-icon>mdi-account-plus</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Usuarios</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="$auth.loggedIn" to="/Niveles">
          <v-list-item-action>
            <v-icon>mdi-presentation-play</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Niveles</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider />
      </v-list-group>
    </v-list>
    <v-list v-if="$auth.loggedIn" dense>
      <v-list-group
        v-for="(item, index) in items"
        :key="index"
        dense
      >
        <template v-slot:activator>
          <v-list-item-content>
            <v-list-item-title>{{ item.Nombre }}</v-list-item-title>
          </v-list-item-content>
        </template>
        <template v-slot:appendIcon>
          <v-badge
            :value="!!item.active"
            color="accent"
            inline
            dot
            left
          >
            <v-icon>
              $expand
            </v-icon>
          </v-badge>
        </template>
        <template v-for="(tran, index) in item.Places">
          <v-tooltip :key="index" right>
            <template v-slot:activator="{ on }">
              <v-list-item
                @click="redirect(item, tran)"
                v-on="on"
              >
                <v-list-item-action>
                  <v-badge
                    :value="!!tran.active"
                    color="accent"
                    inline
                    dot
                  />
                </v-list-item-action>
                <v-list-item-title>
                  {{ tran.Text }}
                </v-list-item-title>
              </v-list-item>
            </template>
            <span>{{ tran.Text }}</span>
          </v-tooltip>
        </template>
      </v-list-group>
    </v-list>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'DrawerMenu',
  computed: mapGetters({
    padre: 'procesos/padre'
  }),
  data: () => ({
    items: Array
  }),
  mounted () {
    this.init()
  },
  created () {
    this.$root.$on('drawerMenu', () => {
      this.init()
    })
  },
  beforeDestroy () {
    this.$root.$off('drawerMenu')
  },
  methods: {
    init () {
      this.$axios.$post('Proyectos/places', { Uuid: this.$auth.user === null ? '' : this.$auth.user.uuid })
        .then((response) => {
          if (response.success === true) {
            const items = []
            const conections = []
            Object.entries(response).forEach((key) => {
              if (!isNaN(key[0])) {
                key[1].Places.forEach((place) => {
                  // 1.- Si tus permisos es ver solo ver own rows, no registrar
                  conections.push(this.listen(place))
                })
                items.push(key[1])
              }
            })
            Promise.all(conections)
              .then(_ => _)
              .catch(err => console.log(err))
            this.items = items
          }
        })
        .catch((reason) => {
          this.alert('error', reason)
        })
      this.loading = true
    },
    alert (tipo, texto) {
      this.$root.$emit('alerta', { tipo, texto })
    },
    notificate (notification) {
      this.$root.$emit('notification', notification)
    },
    listen (place) {
      return this.$echo.private(`TramitesChannel.${place.TrnUuid}`)
        .on('NewTramites', (e) => {
          if (this.canListen(e)) {
            const sameTransaction = e.transicion === this.$route.params.TrnUuid
            if (!sameTransaction) {
              this.updateActive(e.place, e.transicion, true)
            }
            this.notificate(e)
          }
        })
    },
    canListen (e) {
      if (e.creator === this.$auth.user.uuid) {
        return false
      }
      let areaRows = JSON.parse(this.$auth.user.permissions)
      if (!!areaRows[e.place][e.transicion].areaRows.enable) {
        return e.area === this.$auth.user.area
      }
      return true
    },
    updateActive (item, tran, value) {
      const index = this.items.findIndex(x => x.PryUuid === item)
      const subitem = this.items[index].Places.findIndex(x => x.TrnUuid === tran)
      this.items[index].active = value
      this.items[index].Places[subitem].active = value
      this.$forceUpdate()
    },
    async redirect (item, tran) {
      this.updateActive(item.PryUuid, tran.TrnUuid, false)
      try {
        await this.$router.push({ name: 'Tramites',
          params: {
            PryUuid: item.PryUuid,
            PlcUuid: tran.PlcUuid,
            TrnUuid: tran.TrnUuid
          } })
      } catch (e) {
        this.$root.$emit('closeDrawer')
      }
    }
  }
}
</script>

<style scoped>

</style>
