<template>
  <v-simple-checkbox :value="value.value === '1'" disabled />
</template>

<script>
export default {
  name: 'Checkbox',
  props: {
    name: String,
    value: Object
  }
}
</script>

<style scoped>

</style>
