<template>
  <a v-show="value.value !== undefined"
     :href="'https://www.google.com/maps/search/?api=1&query=' + coords[0] + ',' + coords[1]"
     target="_blank"
     rel="noopener noreferrer"
  >
    <v-icon>mdi-google-maps</v-icon>
  </a>
</template>

<script>
export default {
  name: 'Georeferencia',
  props: {
    name: String,
    value: Object
  },
  computed: {
    coords () {
      if (this.value.value && Array.isArray(this.value.value)) {
        return JSON.parse(this.value.value)
      } else {
        return this.value
      }
    }
  }
}
</script>

<style scoped>

</style>
