<template>
  <p>
    {{ internalValue }}
  </p>
</template>

<script>
export default {
  name: 'TextInput',
  props: {
    name: String,
    value: Object
  },
  computed: {
    internalValue () {
      let internalValue
      if (Array.isArray(this.value.value)) {
        if (this.value.value === undefined) { return '' }
        internalValue = this.value.value.join()
        return internalValue
      }
      if (this.value === undefined) { return '' }

      return this.value.value
    }
  }
}
</script>

<style scoped>

</style>
